include ../partials/header
section
  .row
    .col-1-2
      .box
        .boxHeader Sign in to your account
        .boxContent
          .row
            .col-1
              form(method='post' action='/login').box.boxForm.boxFormStacked
                .inputGroup
                  input(type='text' name='username' placeholder='username' autofocus)
                  input(type='password' name='password' placeholder='password')
                p
                  a(href='#').formLink.muted Recover your password
                  input(type='submit' value='login').button.buttonFormSubmit
        .boxAddon.signup
          a(href='#') No account?
            span Create one now
    .col-1-2
      h1 Welcome!
include ../partials/footer
