footer
  .row
    .col-5-12
      h4  Sprk.fitness &amp; you
      p Sprk.fitness is just one of many apps that we’ve launched. Our goal is to make your life easier by providing powerful tools that you can use to improve your life.
      p connect with us:
        a(href='#') Facebook
        span &middot;
        a(fref='#') Twitter
      form
        input(type='text' placeholder='Search')
    .col-3-12
      h4 Sprk.fitness
      a(href='#') Find a trainer
      a(href='#') Log a workout
      a(href='#') Search workouts
      a(href='#') Blog

    .col-4-12
      img(src='/images/image-footer-fitness-man.png')
  .row
    hr
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
script(src='/js/app.js')
script start();
