@import "_settings";
@import "_mixins";


//@import "_grid"
@import "_reset";
@import "_grid";

@import "./components/_buttons";
@import "./components/_cards";
@import "./components/_box";

@import "./templates/_errorPages";

body.poptart
  font-size: $font-size
  margin: 0
  padding: 0
  font-family: 'Open Sans', sans-serif
  letter-spacing: 1px

  header
    background: $header-background
    padding: 20px
    +flexbox
    .logo
      margin: 0
      font-size: 14px
      +flexboxItem
      .tagline
        font-size: 12px
        font-weight: 200
        color: #858585
        margin-left: 10px
        border-left: 1px solid #ccc
        padding-left: 10px
    nav
      +flexboxItem
      font-size: 11px
      .navItems
        transition: background-color .1s, border-color .1s
        display: inline-block
        .navItem
          border-radius: 2px
          text-decoration: none
          padding: 10px 20px
          display: inline-block
          color: #4D4D4D
          margin-right: 10px
          &:last-child
            margin-right: 20px
          &:hover
            background: #efefef
          &.active
            background: #92af88
            color: white
      .buttonGroup
        display: inline-block
        .button
          text-transform: uppercase
          font-size: 11px
        .button.login:hover
          color: white
          background: $ctaNormal
          border-color: $ctaNormalDark
        .button.logout:hover
          background: $ctaDark
          border-color: $ctaDarkDark
  hr
    border: none
    background: none
    border-top: 1px solid $lightUI-borderLight

  section
    background: $background-color
    padding: 40px 0
  .card.calendar
    margin-top: 60px
    .cardContent
      padding: 0
    .days

      text-transform: uppercase
      background: #dde3e3
      border-bottom: 1px solid $lightUI-borderDark
    [class*='col-']
      +flexboxItemStretch
      border-right: 1px solid $lightUI-borderDark
      padding: 0 10px
      font-size: 10px
      &:last-of-type
        border: none
    .dates
      +flexboxStretch
      p
        margin: 15px 0 20px 0
      .workoutMarker
        display: block
        +border-radius(7px)
        height: 10px
        background: #333
        margin-bottom: 10px
        &:last-of-type
          margin-bottom: 25px
      .workoutMarker1
        background-color: #be4646
      .workoutMarker2
        background-color: #67a2b6
      .workoutMarker3
        background-color: #b667b3
      .workoutMarker4
        background-color: #d78f54
      .workoutMarker5
        background-color: #48639e

  .workouts
    .action
      height: 60px
      text-align: right
    .card
      .workoutItem + .workoutItem
        border-top: 1px solid $lightUI-borderDark


      .workoutName
        margin: 0 0 10px 0
        padding: 10px 0
        &:before
          content: "C"
          background: #ccc
          margin-right: 10px
          +border-radius(4px)
          display: inline-block
          vertical-align: middle
          padding: 10px 15px
          color: white
          font-size: 12px
          font-weight: 100
      .workoutItem
        &.workoutType1
          .workoutName
            &:before
              background: #be4646
        &.workoutType2
          .workoutName
            &:before
              background: #67a2b6
        &.workoutType3
          .workoutName
            &:before
              background: #b667b3
        &.workoutType4
          .workoutName
            &:before
              background: #d78f54
        &.workoutType5
          .workoutName
            &:before
              background: #48639e
      .exercises
        .exerciseItem
          margin: 10px 0
          p
            margin: 0
          +flexbox
          .exerciseName
            width: 50%
            +flexboxItem
          .exerciseMeta
            width: 50%
            +flexboxItem
      &:target
        border-color: #4695be
  
  footer
    background: white
    padding: 20px 0
    a
      display: block
  .hidden
    display: none
    height: 0
    width: 0
