section
  .row
    .col-1
      .cardGroup
        .card
          h1 Create a custom workout
          a.button.buttonMinimal(href='/workouts/new') Such a trailblazer
        .card
          h1 Explore our premade workouts
          a.button.buttonMinimal(href='#') Get swole
