section
  .row
    .col-1-2
      .card.calendar
        .cardHeader
          p.date October 21 - 26
          p
            a.newWorkout(href='#') < >
        .cardContent
          .row.days
            .col-1-7
              p Mon
            .col-1-7
              p Tues
            .col-1-7
              p Wed
            .col-1-7
              p Thurs
            .col-1-7
              p Fri
            .col-1-7
              p Sat
            .col-1-7
              p Sun
          .row.dates
            .col-1-7
              p 21
              span.workoutMarker.workoutMarker1
            .col-1-7
              p 22
            .col-1-7
              p 23
              span.workoutMarker.workoutMarker2
              span.workoutMarker.workoutMarker1
            .col-1-7
              p 24
            .col-1-7
              p 25
              span.workoutMarker.workoutMarker3
            .col-1-7
              p 26
              span.workoutMarker.workoutMarker4
            .col-1-7
              p 27

    .col-1-2.workouts
      .action
        a.button.buttonLrg(href='/workouts/new').buttonDark Create new workout
      .card#1
          .cardHeader
            p.date Monday October 20th
            p
              a.newWorkout(href='#') Log your workout
          .cardContent.workoutItem.workoutType1
            p.workoutName Chest
            .subHeader
              p.subHeaderItem.exercises Exercises
              p.subHeaderItem.sets Sets / reps
            .exercises
              .exerciseItem
                p.exerciseName Bench Press
                p.exerciseMeta 5 sets / 12 reps
              .exerciseItem
                p.exerciseName Incline Bench Press
                p.exerciseMeta 5 sets / 12 reps
              .exerciseItem
                p.exerciseName Chest Flyes
                p.exerciseMeta 5 sets / 12 reps
              .exerciseItem
                p.exerciseName Bench Press
                p.exerciseMeta 5 sets / 12 reps


      .card#2
        .cardHeader
          p.date Tuesday October 21th
          p
            a.newWorkout(href='#') Log your workout
        .cardContent.workoutItem.workoutType2
          p.workoutName Back
          .subHeader
            p.subHeaderItem.exercises Exercises
            p.subHeaderItem.sets Sets / reps
          .exercises
            .exerciseItem
              p.exerciseName Bench Press
              p.exerciseMeta 5 sets / 12 reps
            .exerciseItem
              p.exerciseName Incline Bench Press
              p.exerciseMeta 5 sets / 12 reps
            .exerciseItem
              p.exerciseName Chest Flyes
              p.exerciseMeta 5 sets / 12 reps
            .exerciseItem
              p.exerciseName Bench Press
              p.exerciseMeta 5 sets / 12 reps

      .card#3
        .cardHeader
          p.date Wednesday October 22th
          p
            a.newWorkout(href='#') Log your workout
        .cardContent.workoutItem.workoutType3
          p.workoutName Legs
          .subHeader
            p.subHeaderItem.exercises Exercises
            p.subHeaderItem.sets Sets / reps
          .exercises
            .exerciseItem
              p.exerciseName Bench Press
              p.exerciseMeta 5 sets / 12 reps
            .exerciseItem
              p.exerciseName Incline Bench Press
              p.exerciseMeta 5 sets / 12 reps
            .exerciseItem
              p.exerciseName Chest Flyes
              p.exerciseMeta 5 sets / 12 reps
            .exerciseItem
              p.exerciseName Bench Press
              p.exerciseMeta 5 sets / 12 reps
        .cardContent.workoutItem.workoutType4
          p.workoutName Core
          .subHeader
            p.subHeaderItem.exercises Exercises
            p.subHeaderItem.sets Sets / reps
          .exercises
            .exerciseItem
              p.exerciseName Bench Press
              p.exerciseMeta 5 sets / 12 reps
            .exerciseItem
              p.exerciseName Incline Bench Press
              p.exerciseMeta 5 sets / 12 reps
            .exerciseItem
              p.exerciseName Chest Flyes
              p.exerciseMeta 5 sets / 12 reps
            .exerciseItem
              p.exerciseName Bench Press
              p.exerciseMeta 5 sets / 12 reps


      .card#4
        .cardHeader
          p.date Thursday October 23th
          p
            a.newWorkout(href='#') Log your workout
        .cardContent.workoutItem.workoutType5
          p.workoutName Arms
          .subHeader
            p.subHeaderItem.exercises Exercises
            p.subHeaderItem.sets Sets / reps
          .exercises
            .exerciseItem
              p.exerciseName Bench Press
              p.exerciseMeta 5 sets / 12 reps
            .exerciseItem
              p.exerciseName Incline Bench Press
              p.exerciseMeta 5 sets / 12 reps
            .exerciseItem
              p.exerciseName Chest Flyes
              p.exerciseMeta 5 sets / 12 reps
            .exerciseItem
              p.exerciseName Bench Press
              p.exerciseMeta 5 sets / 12 reps
