include ../partials/header

section.error404
  .row
    .col-1
      hgroup
        h1 404
        h2 Oops! Looks like something went wrong
      a(href="/").button.buttonMinimal go home

include ../partials/footer
